body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
header h1{
    margin: 30px;
}
.contant{
    display: flex;
}
.contant li{
    margin: 37px 30px;
    font-size: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

main {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    margin-right: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.card-container{
    display: flex;
    justify-content: space-around;

}
.card{
    width: 28%;
    background-color: rgb(255, 253, 250);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    background-color: #f9f9f9;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 100%;
}
.card-containers{
    display: flex;
    justify-content: space-around;
}
.card button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #03344C;
    color: #ffff;
    cursor: pointer;

}
.cards{
    width: 28%;
    background-color: rgb(255, 253, 250);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;

}
.cards img{
    width: 225px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}
.btn-teal{
    color: teal;
    cursor: pointer;
}
nav li:hover{
    text-decoration: underline;
    
}
.btn-teal p:hover{
    text-decoration: underline;
}